<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mi</title>
    <link rel="stylesheet" href="/src/public/css/inicio.css">
    <link rel="stylesheet" href="/src/public/css/portafolio.css">

</head>
<body>
    <!--menu encabezado-->
    <div class="contenedor-header">
        <header> 
            <nav id="navbar">
                <ul>
                    <li><a href="/src/views/inicio.html">Inicio</a></li>
                    <li><a href="/src/views/sobremi.html">Sobre mi</a></li>
                    <li><a href="/src/views/portafolio.html" class="active">Portafolio</a></li>
                    <li><a href="/src/views/contacto.html">Contáctame</a></li>
                </ul>
            </nav>
            <div class="nav-responsive">
                <i class="fa-solid fa-bars"></i>
            </div>
        </header>
    </div>
     <!--seccion fondo-->
     <section id="inicio" class="inicio">
        <div class="contenido-principal">
            <div class="contenido-imagen">
                <img src="/src/public/img/fondo.webp" alt="imagen">
            </div>
        </section>

    <!--portafolio-->
    <div class="titulopor"><h2>Portafolio</h2></div>

    <div class="contenedor-padre">
        <div class="contenedor-hijo">
            <div class="frontal">
                <h2>🌷 E-commerce 🌷</h2>
                <p>
                    Sumérgete en un mundo de verdor con <strong>Monsteral</strong>, tu destino virtual para todo lo relacionado con el reino vegetal. Desde las exóticas hasta las clásicas. Encuentra inspiración y consejos de cuidado. <br><br>🌱🌱🌱
                </p>
            </div>
            <div class="posterior">
                <img src="/src/public/img/monsteral.webp" alt="E-commerce monsteral">
            </div>
            <a href="https://github.com/MateoRueda88/monsteral.git" target="_blank" class="boton">🌸 GitHub Monsteral 🌸</a>
        </div>
        <div class="contenedor-hijo">
            <div class="frontal">
                <h2>🧪 Conversión de temperatura 🧪</h2>
                <p>Transforma el clima a tu manera, tu herramienta online para convertir temperaturas fácilmente. Ya sea que necesites pasar de Celsius a Fahrenheit o a Kelvin o viceversa, te proporciona resultados precisos al instante. <br><br>🌞🌞🌞</p>
            </div>
            <div class="posterior">
                <img src="/src/public/img/temp.webp" alt="Convertidor">
            </div>
            <a href="https://github.com/ValentinaRamirez13/logica-programacion-2.git" target="_blank" class="boton">🥶 GitHub Convertidor t° 🥶</a>
        </div>
    </div>
  
<!--redes--> 
<div class="redes">
    <div class="contenido-red">
        <a href="https://www.linkedin.com/in/valentinaram%C3%ADrez/" target="_blank">
            <img src="/src/public/img/linkedin.webp" alt="imagen-linkedin" class="imagen">
            <div class="texto">LinkedIn</div>
        </a>
    </div>
    <div class="contenido-red">
        <a href="https://github.com/ValentinaRamirez13" target="_blank">
            <img src="/src/public/img/github.webp" alt="imagen-github" class="imagen">     
            <div class="texto">Github</div>     
        </a>  
    </div>
    <div class="contenido-red">
        <a href="https://mail.google.com/mail/u/0/?hl=es" target="_blank">
            <img src="/src/public/img/gmail.webp" alt="imagen-gmail" class="imagen">       
            <div class="texto">Gmail</div>  
        </a>  
    </div>
    <div class="contenido-red">
        <a href="https://drive.google.com/file/d/1Tye9Vz1UkBw1o4rHRmpz38Yo2vzF_t61/view?usp=sharing" target="_blank">
            <img src="/src/public/img/cv.webp" alt="imagen-cv" class="imagen">        
            <div class="texto">CV</div>
        </a>     
    </div>
</div>
 <!--footer-->
 <footer>
    <p>&copy; 2024 Valentina Ramirez</p>
</footer>

</body>
</html>