/* *tipografia general */
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* *tipografía titulo */
@import url('https://fonts.googleapis.com/css2?family=Aladin&family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* *estilos generales */
*{
    margin: 0;
    padding: 0;
    font-family: "Amaranth", sans-serif;;
    box-sizing: border-box;
}
/* *barra de navegación */
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .contenedor-header{
        width: 100%; 
    }
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
.contenedor-header header ul li a{
    font-size: 18px;
}
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para movil */
.contenedor-header header ul li a{
    font-size: 35px;
}
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para movil */
.contenedor-header header ul li a{
    font-size: 35px;
}
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .contenedor-header .navbar{
        width: 100%;
    }
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .contenedor-header .navbar ul li{
        width: 90%;
        margin-left: 10%;
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para movil */
    .contenedor-header .navbar{
        width: 100%;
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para movil */
    .contenedor-header .navbar ul li{
        width: 100%;
        margin-left: 20%;
    }
}
/* *estilos sobre mi */
.sobremi .text-img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 70%;
    margin: auto;  
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .sobremi .text-img{
        width: 90%;
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablet */
    .sobremi .text-img{
        width: 70%;
        margin-top: -4%;
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para desktop */
    .sobremi .text-img{
        width: 70%;
        margin-top: -4%;
    }
}
.sobremi .text-img .titulo{
    text-align: center;
    font-family: "Aladin", system-ui;
    color: #0B0240;
    font-size: 50px;
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .sobremi .text-img .titulo{
        line-height: 2;
    }
}

@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .sobremi .text-img foto{
        margin-top: 15%;
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablet */
    .sobremi .text-img .titulo{
        line-height: 4;
    }
}
.sobremi .text-img p{
    flex: 1;
    margin-right: 20px;
    margin-top: 10%;
    font-family:  "Amaranth", sans-serif;
    font-size: 30px; 
    color: #055183;
    text-align: center;
    line-height: 1.5;
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .sobremi .text-img p{
        line-height: 1;
        font-size: 20px; 
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablet */
    .sobremi .text-img p{
        line-height: 1;
        font-size: 25px; 
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para movil */
    .sobremi .text-img p{
        line-height: 1.5;
        font-size: 30px; 
    }
}
.sobremi .text-img p span{
    font-weight: bold;
}
.sobremi .text-img .foto{
    margin-top: 80px;
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para mnovil */
    .sobremi .text-img .foto{
        margin-top: 150px;
    }
}
/*Habilidades*/
.titulohab h3{
    text-align: center;
    font-family: "Aladin", system-ui;
    color: #0B0240;
    font-size: 50px;
    line-height: 2;
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para desktop */
    .titulohab h3{
        font-size: 50px;
        line-height: 2;
    }
}
.contenedor-habilidades{
    display: flex; 
    justify-content: center; /* Centra los elementos horizontalmente */
    align-items: center;
    width: 100%;
}
.contenedor-habilidades .habilidad{
    display: flex; /* Permite que la imagen y el nombre estén en la misma línea */
    align-items: center; /* Centra verticalmente los elementos */
}
.contenedor-habilidades .habilidad .imghab{
    width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
    height: auto;
    margin-right: 40px; 
    margin-left: 40px;
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .contenedor-habilidades .habilidad .imghab{
        width: 20px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
        margin-right: 10px; 
        margin-left: 10px;
        display: flex;
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablet */
    .contenedor-habilidades .habilidad .imghab{
        width: 50px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
        margin-right: 20px; 
        margin-left: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para desktop */
    .contenedor-habilidades .habilidad .imghab{
        width: 100px; /* Ajusta el tamaño de la imagen según tus necesidades */
        height: auto;
        margin-right: 40px; 
        margin-left: 40px;
    }
}
.contenedor-habilidades .habilidad .texthab{
    font-family:  "Amaranth", sans-serif;
    font-size: 30px; 
    color: #055183;
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .contenedor-habilidades .habilidad .texthab{
        font-size: 15px; 
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablet */
    .contenedor-habilidades .habilidad .texthab{
        font-size: 20px; 
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para desktop */
    .contenedor-habilidades .habilidad .texthab{
        font-family:  "Amaranth", sans-serif;
        font-size: 30px; 
        color: #055183;
    }
}
/* * redes*/
.redes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}
.redes .contenido-red{
    display: inline-block; /* Organiza los elementos en línea */
    margin-right: 90px; /* Agrega margen entre las imágenes */
    padding: 50px;
    justify-content: center;  
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .redes .contenido-red{
        margin-right: 0.1px; /* Agrega margen entre las imágenes */     
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para tablet */
    .redes .contenido-red{
        margin-right: 40px; /* Agrega margen entre las imágenes */     
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para desktop */
    .redes .contenido-red{
        margin-right: 90px; /* Agrega margen entre las imágenes */     
    }
}
.redes .contenido-red .imagen{
    width: 50px; 
    height: auto; 
}
@media only screen and (min-width: 480px) {
    /* Estilos CSS para movil */
    .redes .contenido-red .imagen{
        width: 30px; 
    }
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para desktop */
    .redes .contenido-red .imagen{
        width: 50px; 
    }
}
@media only screen and (min-width: 1024px) {
    /* Estilos CSS para desktop */
    .redes .contenido-red .imagen{
        width: 50px; 
    }
}
.redes .contenido-red .texto{
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente para el texto */
    color: white;
    display: none; /* Oculta el texto por defecto */
    font-family: "Amaranth", sans-serif;
    font-size: 20px;
}

.redes .contenido-red:hover .imagen {
    transform: scale(1.2); /* Aumenta el tamaño de la imagen al hacer hover */
}

.redes .contenido-red:hover .texto {
    display: block; /* Muestra el texto al hacer hover */
}

/*footer*/
footer {
    padding: 40px;
    text-align: center; /* Centra el texto en el pie de página */
}
@media only screen and (min-width: 768px) {
    /* Estilos CSS para ipad */
footer{
    margin-top: 3%;
}
}
footer p {
    margin: 0; /* Elimina el margen predeterminado del párrafo */
    font-size: 20px; /* Tamaño de fuente */
    color: #0B0240; /* Color de texto */
}